<div class="row">
  <div class="container-fluid bg-dark navbar__container end-0">
    <app-navbar></app-navbar>
  </div>
</div>
<div class="container-fluid bg-dark">
  <div class="container">
    <app-hero class="row d-flex align-items-center"></app-hero>
  </div>
</div>
<div class="container-fluid bg-light">
  <div class="container">
    <div *ngFor="let info of articulos">
      <app-info-landing 
        [articulo]="info"
       class="row pt-5 pb-5 {{info.clasesPadre}}"
       ></app-info-landing>
      <hr class="mb-0">
   </div>
  </div>
</div>
<div class="row">
  <app-footer class="footer"></app-footer>
</div>
