<header class="flex-wrap d-flex justify-content-center align-items-center container-md p-3">
  <a 
    class="d-flex align-items-center mb-3 mb-md-0 me-sm-auto text-dark text-decoration-none"
    routerLink=""
   >
    <picture>
      <source srcset="../../../assets/logos/logo.avif" type="image/avif" />
      <source srcset="../../../assets/logos/logo.webp" type="image/webp" />
      <img class="me-2" width="40" height="40" src="../../../assets/logos/logo.png" alt="logo">
    </picture>
    <span class="fs-4 .roboto text-light">eco jaz</span>
  </a>

   <ul class="nav col-12 col-sm-auto mb-2 justify-content-center mb-md-0">
    <li class="nav-item hover me-2"><a class="text-decoration-none text-light">Nosotros</a></li>
  </ul>
  <div class="d-inline-flex flex-wrap">
    <button
      class="btn btn-outline-light me-2"
      type="button"
      routerLink="login"
     >
       Iniciar Sesion
    </button>
    <button class="btn btn-light" type="button">registrarse</button>
  </div>
</header>
