img {
  max-height: 100%;
  width: auto;
}

.img-container {
  height: 14rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-self: center;
}

.promo-descripcion {
  height: 5rem;
}

p {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
