<div class="modal fade" id="modal-trasaction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="staticBackdropLabel">{{ titulo }}</h5>
      </div>

      <div class="modal-body">

        <!--|---|---|---|---|## Inicio Formulario ##|---|---|---|---|--->
        <form (ngSubmit)="trasacion()"
              class="card p-5 m-2"
              autocomplete="off"
              novalidate>

          <!--|---|---|---|---|## Inicio Fieldset ##|---|---|---|---|--->
          <fieldset>

            <!--|---|---|---|---|## Precio ##|---|---|---|---|--->
            <div class="form-floating mt-3">
              <input
                type="number"
                class="form-control"
                [ngClass]="{'is-invalid': nipinvalid}"
                id="nip"
                [placeholder]="placeholder"
                name="nip"
                max="9999"
                [ngModel]="nip | number: '4-0.0'"
                (ngModelChange)="nip=$event"
                >
                <label for="nip">{{ placeholder }}</label>

                <div class="invalid-feedback">
                 NIP inv&aacute;lido 
                </div>
            </div>
            <!--|---|---|---|-!!!-| Precio |-!!!-|---|---|---|--->

            <!--|---|---|---|---|## Botones ##|---|---|---|---|--->
            <button 
              type="submit"
              class="btn btn-primary col-12 mt-3"
              data-bs-dismiss="modal">Listo</button>

            <button 
              type="button"
              class="btn btn-secondary col-12 mt-3" 
              data-bs-dismiss="modal"
             >Cancelar</button>
            <!--|---|---|---|-!!!-| Botones |-!!!-|---|---|---|--->

          </fieldset>
          <!--|---|---|---|-!!!-| Fin Fieldset |-!!!-|---|---|---|--->

        </form>
        <!--|---|---|---|-!!!-| Fin Formulario |-!!!-|---|---|---|--->

      </div>


    </div>
  </div>
</div>

