<div class="modal fade" id="modal-trasaction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title fw-bold text-primary" id="staticBackdropLabel">Pagar {{ total | number: '1.0-2' }} Puntos</h5>
      </div>

      <div class="modal-body">

        <!--|---|---|---|---|## Inicio Formulario ##|---|---|---|---|--->
        <form (ngSubmit)="trasacion()"
              class="border-0"
              autocomplete="off"
              novalidate>

            <!--|---|---|---|---|## Precio ##|---|---|---|---|--->
            <div class="form-floating mt-3">
              <input
                type="number"
                class="form-control"
                [ngClass]="{'is-invalid': nipinvalid}"
                id="nip"
                name="nip"
                max="9999"
                placeholder="NIP de {{ nombre }}"
                [ngModel]="nipWindow | number: '4-0.0'"
                (ngModelChange)="nipWindow=$event"
                >
                <label for="nip">NIP de {{ nombre }}</label>

                <div class="invalid-feedback">{{ mensaje }}</div>
            </div>
            <!--|---|---|---|-!!!-| Precio |-!!!-|---|---|---|--->

            <!--|---|---|---|---|## Botones ##|---|---|---|---|--->
            <button 
              type="submit"
              class="btn btn-primary col-12 mt-3">Listo</button>

            <button 
              type="button"
              (click)="hide()"
              class="btn btn-secondary col-12 mt-3" 
             >Cancelar</button>
            <!--|---|---|---|-!!!-| Botones |-!!!-|---|---|---|--->

        </form>
        <!--|---|---|---|-!!!-| Fin Formulario |-!!!-|---|---|---|--->

      </div>


    </div>
  </div>
</div>
