img {
  max-height: 100%;
  width: auto;
}

.img-container {
  height: 9rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-self: center;
}

.card {
max-height: 9rem;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
