.img-container {
  overflow: hidden;
  max-height: 19rem;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0rem 0rem;
}

img {
  width: 100%;
  height: auto;
}
